body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }

  #container {
      /* position: relative; */
      display: flex;
      flex-wrap: wrap;
      width: 700px;
      height: 700px;
      background-color: black;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
  }

  .el {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #FFF;
  }


